## Generate Predictions

In the Kaggle Zillow First Round, we are asked to predict 6 time points for all properties of 2016: October 2016 , November 2016 , December 2016 , October 2017 , November 2017 , and December 2017 .

In [10]:
import sys
import warnings
import numpy as np
import pandas as pd
import joblib

In [ ]:
sys.path.append("../src/data")
sys.path.append("../src/features")

from make_dataset import read_data
from data_processor import DataProcessor

In [5]:
# suppres warnings
warnings.filterwarnings("ignore")

# Show all rows and columns in the display
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

#### Load the model that we save earlier using joblib

In [13]:
final_model = joblib.load("../models/final_model.pkl")

#### Let's create a submission file with parcel id's and predictions for all these time periods.

In [12]:
props_2016 = read_data("properties_2016")

In [14]:
props_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
 #   Column                        Dtype
---  ------                        -----
 0   parcelid                      int64
 1   airconditioningtypeid         float64
 2   architecturalstyletypeid      float64
 3   basementsqft                  float64
 4   bathroomcnt                   float64
 5   bedroomcnt                    float64
 6   buildingclasstypeid           float64
 7   buildingqualitytypeid         float64
 8   calculatedbathnbr             float64
 9   decktypeid                    float64
 10  finishedfloor1squarefeet      float64
 11  calculatedfinishedsquarefeet  float64
 12  finishedsquarefeet12          float64
 13  finishedsquarefeet13          float64
 14  finishedsquarefeet15          float64
 15  finishedsquarefeet50          float64
 16  finishedsquarefeet6           float64
 17  fips                          float64
 18  fireplacecnt                  float64
 19  fullbathcnt                   float64
 20  garagecarcnt                  float64
 21  garagetotalsqft               float64
 22  hashottuborspa                object
 23  heatingorsystemtypeid         float64
 24  latitude                      float64
 25  longitude                     float64
 26  lotsizesquarefeet             float64
 27  poolcnt                       float64
 28  poolsizesum                   float64
 29  pooltypeid10                  float64
 30  pooltypeid2                   float64
 31  pooltypeid7                   float64
 32  propertycountylandusecode     object
 33  propertylandusetypeid         float64
 34  propertyzoningdesc            object
 35  rawcensustractandblock        float64
 36  regionidcity                  float64
 37  regionidcounty                float64
 38  regionidneighborhood          float64
 39  regionidzip                   float64
 40  roomcnt                       float64
 41  storytypeid                   float64
 42  threequarterbathnbr           float64
 43  typeconstructiontypeid        float64
 44  unitcnt                       float64
 45  yardbuildingsqft17            float64
 46  yardbuildingsqft26            float64
 47  yearbuilt                     float64
 48  numberofstories               float64
 49  fireplaceflag                 object
 50  structuretaxvaluedollarcnt    float64
 51  taxvaluedollarcnt             float64
 52  assessmentyear                float64
 53  landtaxvaluedollarcnt         float64
 54  taxamount                     float64
 55  taxdelinquencyflag            object
 56  taxdelinquencyyear            float64
 57  censustractandblock           float64
dtypes: float64(52), int64(1), object(5)
memory usage: 1.3+ GB

In [28]:
submission_df = props_2016[["parcelid"]]

In [33]:
dates = [
    "2016-10-01",
    "2016-11-01",
    "2016-12-01",
    "2017-10-01",
    "2017-11-01",
    "2017-12-01",
]

In [34]:
for date in dates:

    props_2016["transactiondate"] = pd.to_datetime(date)
    submission_df[date] = final_model.predict(props_2016)

In [37]:
submission_df.columns = [
    "ParcelId",
    "201610",
    "201611",
    "201612",
    "201710",
    "201711",
    "201712",
]

In [38]:
submission_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   ParcelId  int64
 1   201610    float32
 2   201611    float32
 3   201612    float32
 4   201710    float32
 5   201711    float32
 6   201712    float32
dtypes: float32(6), int64(1)
memory usage: 91.1 MB

In [36]:
submission_df.head()

,parcelid,2016-10-01,2016-11-01,2016-12-01,2017-10-01,2017-11-01,2017-12-01
0,10754147,0.355789,0.355789,0.355789,0.355789,0.355789,0.355789
1,10759547,0.806419,0.806419,0.806419,0.806419,0.806419,0.806419
2,10843547,0.049502,0.049502,0.049502,0.049502,0.049502,0.049502
3,10859147,0.029556,0.029556,0.029556,0.029556,0.029556,0.029556
4,10879947,0.008157,0.008157,0.008157,0.008157,0.008157,0.008157

In [39]:
submission_df.to_csv("../data/processed/submission_file.csv", index=False)

**After uploading into the Kaggle Zillow submissions, below are the results**

**public leaderboard - 0.06511 - rank 2741**\
**private leaderboard - 0.07609 - rank 2701**