## Data Processing

In this notebook, we will create a preprocessor class that will do the following 

1. Remove certain columns
2. Add some columns related to date time
3. Deal with missing values
4. One hot encoding

##### The DataProcessor class will follow fit and transform template so that it can be used in the machine learning pipelines

In [40]:
import numpy as np
import pandas as pd
import sys
import inspect

#Add the scripts directory to the sys path
sys.path.append("../src/data")

# Show all rows and columns in the display
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

from make_dataset import get_data

In [9]:
print(inspect.getsource(get_data))

def get_data(data_string):
    """
    Read the train/test dataset and merge with properties data set and remove duplicate parcelid's in train

    Keyword Arguments:
    data_string -- "train" or "test"

    Returns:
    X, y -- a tuple of dataframe X and Series y


    """
    year = 2016 if data_string == "train" else 2017

    train = read_data("train_{0}".format(year))
    properties = read_data("properties_{0}".format(year))
    merged = pd.merge(train, properties, on="parcelid", how="left")

    if data_string == "train":
        merged = remove_duplicate_parcels(merged)

    y = merged["logerror"]
    merged = merged.drop(columns=["logerror"], axis=1)

    return merged, y

In [10]:
train_X, train_y = get_data(data_string="train")

C:\Users\600169232\Anaconda3\envs\snowflake_env\lib\site-packages\IPython\core\interactiveshell.py:3343: DtypeWarning: Columns (22,32,34,49,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 0 to 12731
Data columns (total 59 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      90150 non-null  int64
 1   transactiondate               90150 non-null  object
 2   airconditioningtypeid         28748 non-null  float64
 3   architecturalstyletypeid      260 non-null    float64
 4   basementsqft                  43 non-null     float64
 5   bathroomcnt                   90150 non-null  float64
 6   bedroomcnt                    90150 non-null  float64
 7   buildingclasstypeid           16 non-null     float64
 8   buildingqualitytypeid         57284 non-null  float64
 9   calculatedbathnbr             88974 non-null  float64
 10  decktypeid                    658 non-null    float64
 11  finishedfloor1squarefeet      6850 non-null   float64
 12  calculatedfinishedsquarefeet  89492 non-null  float64
 13  finishedsquarefeet12          85485 non-null  float64
 14  finishedsquarefeet13          33 non-null     float64
 15  finishedsquarefeet15          3555 non-null   float64
 16  finishedsquarefeet50          6850 non-null   float64
 17  finishedsquarefeet6           419 non-null    float64
 18  fips                          90150 non-null  float64
 19  fireplacecnt                  9597 non-null   float64
 20  fullbathcnt                   88974 non-null  float64
 21  garagecarcnt                  29897 non-null  float64
 22  garagetotalsqft               29897 non-null  float64
 23  hashottuborspa                2363 non-null   object
 24  heatingorsystemtypeid         56005 non-null  float64
 25  latitude                      90150 non-null  float64
 26  longitude                     90150 non-null  float64
 27  lotsizesquarefeet             80014 non-null  float64
 28  poolcnt                       17876 non-null  float64
 29  poolsizesum                   966 non-null    float64
 30  pooltypeid10                  1159 non-null   float64
 31  pooltypeid2                   1204 non-null   float64
 32  pooltypeid7                   16672 non-null  float64
 33  propertycountylandusecode     90149 non-null  object
 34  propertylandusetypeid         90150 non-null  float64
 35  propertyzoningdesc            58232 non-null  object
 36  rawcensustractandblock        90150 non-null  float64
 37  regionidcity                  88349 non-null  float64
 38  regionidcounty                90150 non-null  float64
 39  regionidneighborhood          35956 non-null  float64
 40  regionidzip                   90115 non-null  float64
 41  roomcnt                       90150 non-null  float64
 42  storytypeid                   43 non-null     float64
 43  threequarterbathnbr           11996 non-null  float64
 44  typeconstructiontypeid        298 non-null    float64
 45  unitcnt                       58271 non-null  float64
 46  yardbuildingsqft17            2645 non-null   float64
 47  yardbuildingsqft26            95 non-null     float64
 48  yearbuilt                     89397 non-null  float64
 49  numberofstories               20540 non-null  float64
 50  fireplaceflag                 220 non-null    object
 51  structuretaxvaluedollarcnt    89772 non-null  float64
 52  taxvaluedollarcnt             90149 non-null  float64
 53  assessmentyear                90150 non-null  float64
 54  landtaxvaluedollarcnt         90149 non-null  float64
 55  taxamount                     90144 non-null  float64
 56  taxdelinquencyflag            1775 non-null   object
 57  taxdelinquencyyear            1775 non-null   float64
 58  censustractandblock           89547 non-null  float64
dtypes: float64(52), int64(1), object(6)
memory usage: 41.3+ MB

In [12]:
train_y

0        0.0276
1       -0.1684
2       -0.0040
3        0.0218
4       -0.0050
          ...
40955   -0.0823
32484    0.0516
2055     0.0488
38053    0.0227
12731    0.1621
Name: logerror, Length: 90150, dtype: float64

### Drop certain columns

We will remove below columns before going ahead with the analysis

1. parcelid - this is not required for model training
2. propertyzoningdesc, rawcensustractandblock, regionidneighborhood, regionidzip, censustractandblock - these columns have lot of cardinality in these features. We will use regionidcity (177 unique groups) as we need one feature to distinguish the regions of the properties.

In [16]:
class DataProcessor:
    
    def __init__(self, cols_to_remove=None):
        self.cols_to_remove = cols_to_remove
    
    
    def fit(self, X, y=None):
        """fit the process on the training data"""
        
        return self
        
    def transform(self, X, y=None):
        """transform the process on the train/test data """
        
        X_new = X.drop(columns=self.cols_to_remove, axis=1)
        
        return X_new
        
        
    def fit_transform(self, X, y=None):
        """fit and transform"""
        
        return self.fit(X).transform(X)

In [20]:
dp = DataProcessor(cols_to_remove=["parcelid", "propertyzoningdesc", "rawcensustractandblock", "regionidneighborhood", "regionidzip", "censustractandblock"])
train_X_new = dp.transform(train_X)

In [22]:
train_X_new.info() #6 columns are removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 0 to 12731
Data columns (total 53 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   transactiondate               90150 non-null  object
 1   airconditioningtypeid         28748 non-null  float64
 2   architecturalstyletypeid      260 non-null    float64
 3   basementsqft                  43 non-null     float64
 4   bathroomcnt                   90150 non-null  float64
 5   bedroomcnt                    90150 non-null  float64
 6   buildingclasstypeid           16 non-null     float64
 7   buildingqualitytypeid         57284 non-null  float64
 8   calculatedbathnbr             88974 non-null  float64
 9   decktypeid                    658 non-null    float64
 10  finishedfloor1squarefeet      6850 non-null   float64
 11  calculatedfinishedsquarefeet  89492 non-null  float64
 12  finishedsquarefeet12          85485 non-null  float64
 13  finishedsquarefeet13          33 non-null     float64
 14  finishedsquarefeet15          3555 non-null   float64
 15  finishedsquarefeet50          6850 non-null   float64
 16  finishedsquarefeet6           419 non-null    float64
 17  fips                          90150 non-null  float64
 18  fireplacecnt                  9597 non-null   float64
 19  fullbathcnt                   88974 non-null  float64
 20  garagecarcnt                  29897 non-null  float64
 21  garagetotalsqft               29897 non-null  float64
 22  hashottuborspa                2363 non-null   object
 23  heatingorsystemtypeid         56005 non-null  float64
 24  latitude                      90150 non-null  float64
 25  longitude                     90150 non-null  float64
 26  lotsizesquarefeet             80014 non-null  float64
 27  poolcnt                       17876 non-null  float64
 28  poolsizesum                   966 non-null    float64
 29  pooltypeid10                  1159 non-null   float64
 30  pooltypeid2                   1204 non-null   float64
 31  pooltypeid7                   16672 non-null  float64
 32  propertycountylandusecode     90149 non-null  object
 33  propertylandusetypeid         90150 non-null  float64
 34  regionidcity                  88349 non-null  float64
 35  regionidcounty                90150 non-null  float64
 36  roomcnt                       90150 non-null  float64
 37  storytypeid                   43 non-null     float64
 38  threequarterbathnbr           11996 non-null  float64
 39  typeconstructiontypeid        298 non-null    float64
 40  unitcnt                       58271 non-null  float64
 41  yardbuildingsqft17            2645 non-null   float64
 42  yardbuildingsqft26            95 non-null     float64
 43  yearbuilt                     89397 non-null  float64
 44  numberofstories               20540 non-null  float64
 45  fireplaceflag                 220 non-null    object
 46  structuretaxvaluedollarcnt    89772 non-null  float64
 47  taxvaluedollarcnt             90149 non-null  float64
 48  assessmentyear                90150 non-null  float64
 49  landtaxvaluedollarcnt         90149 non-null  float64
 50  taxamount                     90144 non-null  float64
 51  taxdelinquencyflag            1775 non-null   object
 52  taxdelinquencyyear            1775 non-null   float64
dtypes: float64(48), object(5)
memory usage: 37.1+ MB

## Add month and year column and remove transaction date column

We will need month and year columns as we will need to predict for 6 time points based on month and year 
(October 2016,  November 2016, December 2016, October 2017,  November 2017, December 2017)

In [33]:
class DataProcessor:
    
    def __init__(self, cols_to_remove=None, datecol=None):
        self.cols_to_remove = cols_to_remove
        self.datecol = datecol
    
    
    def fit(self, X, y=None):
        """fit the process on the training data"""
        
        return self
        
    def transform(self, X, y=None):
        """transform the process on the train/test data """
                
        X_new = X.drop(columns=self.cols_to_remove, axis=1)
        
        if self.datecol:
            X_new[self.datecol + "_month"] = pd.to_datetime(X_new[self.datecol]).dt.month
            X_new[self.datecol + "_year"] = pd.to_datetime(X_new[self.datecol]).dt.year
            X_new = X_new.drop(columns=self.datecol, axis=1)
        
        return X_new
        
        
    def fit_transform(self, X, y=None):
        """fit and transform"""
        
        return self.fit(X).transform(X)

In [34]:
dp = DataProcessor(cols_to_remove=["parcelid", "propertyzoningdesc", "rawcensustractandblock", "regionidneighborhood", "regionidzip", "censustractandblock"], 
                  datecol="transactiondate")
train_X_new = dp.transform(train_X)

In [35]:
train_X_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 0 to 12731
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   airconditioningtypeid         28748 non-null  float64
 1   architecturalstyletypeid      260 non-null    float64
 2   basementsqft                  43 non-null     float64
 3   bathroomcnt                   90150 non-null  float64
 4   bedroomcnt                    90150 non-null  float64
 5   buildingclasstypeid           16 non-null     float64
 6   buildingqualitytypeid         57284 non-null  float64
 7   calculatedbathnbr             88974 non-null  float64
 8   decktypeid                    658 non-null    float64
 9   finishedfloor1squarefeet      6850 non-null   float64
 10  calculatedfinishedsquarefeet  89492 non-null  float64
 11  finishedsquarefeet12          85485 non-null  float64
 12  finishedsquarefeet13          33 non-null     float64
 13  finishedsquarefeet15          3555 non-null   float64
 14  finishedsquarefeet50          6850 non-null   float64
 15  finishedsquarefeet6           419 non-null    float64
 16  fips                          90150 non-null  float64
 17  fireplacecnt                  9597 non-null   float64
 18  fullbathcnt                   88974 non-null  float64
 19  garagecarcnt                  29897 non-null  float64
 20  garagetotalsqft               29897 non-null  float64
 21  hashottuborspa                2363 non-null   object
 22  heatingorsystemtypeid         56005 non-null  float64
 23  latitude                      90150 non-null  float64
 24  longitude                     90150 non-null  float64
 25  lotsizesquarefeet             80014 non-null  float64
 26  poolcnt                       17876 non-null  float64
 27  poolsizesum                   966 non-null    float64
 28  pooltypeid10                  1159 non-null   float64
 29  pooltypeid2                   1204 non-null   float64
 30  pooltypeid7                   16672 non-null  float64
 31  propertycountylandusecode     90149 non-null  object
 32  propertylandusetypeid         90150 non-null  float64
 33  regionidcity                  88349 non-null  float64
 34  regionidcounty                90150 non-null  float64
 35  roomcnt                       90150 non-null  float64
 36  storytypeid                   43 non-null     float64
 37  threequarterbathnbr           11996 non-null  float64
 38  typeconstructiontypeid        298 non-null    float64
 39  unitcnt                       58271 non-null  float64
 40  yardbuildingsqft17            2645 non-null   float64
 41  yardbuildingsqft26            95 non-null     float64
 42  yearbuilt                     89397 non-null  float64
 43  numberofstories               20540 non-null  float64
 44  fireplaceflag                 220 non-null    object
 45  structuretaxvaluedollarcnt    89772 non-null  float64
 46  taxvaluedollarcnt             90149 non-null  float64
 47  assessmentyear                90150 non-null  float64
 48  landtaxvaluedollarcnt         90149 non-null  float64
 49  taxamount                     90144 non-null  float64
 50  taxdelinquencyflag            1775 non-null   object
 51  taxdelinquencyyear            1775 non-null   float64
 52  transactiondate_month         90150 non-null  int64
 53  transactiondate_year          90150 non-null  int64
dtypes: float64(48), int64(2), object(4)
memory usage: 37.8+ MB

## Deal with missing values

As we have seen in data exploratory notebook, there are lot of columns with missing values. We can not remove those records or columns as we will be losing some information that will help with predictions. Hence let's take a look at imputing these values.

We can impute with median/mean values but there are lot of records that are missing and hence median/mean may not make sense in that case. 
Lets look at imputing with negative values if there are no negative values in the columns..

In [41]:
train_X_new.describe()

,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,heatingorsystemtypeid,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertylandusetypeid,regionidcity,regionidcounty,roomcnt,storytypeid,threequarterbathnbr,typeconstructiontypeid,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,transactiondate_month,transactiondate_year
count,28748.000000,260.000000,43.000000,90150.000000,90150.000000,16.0,57284.000000,88974.000000,658.0,6850.000000,89492.000000,85485.000000,33.000000,3555.000000,6850.000000,419.000000,90150.000000,9597.000000,88974.000000,29897.000000,29897.000000,56005.000000,9.015000e+04,9.015000e+04,8.001400e+04,17876.0,966.000000,1159.0,1204.0,16672.0,90150.000000,88349.000000,90150.000000,90150.000000,43.0,11996.000000,298.000000,58271.000000,2645.000000,95.000000,89397.000000,20540.000000,8.977200e+04,9.014900e+04,90150.0,9.014900e+04,90144.000000,1775.000000,90150.000000,90150.0
mean,1.815222,7.230769,713.581395,2.279545,3.031936,4.0,5.565393,2.309175,66.0,1347.720146,1773.096869,1745.415079,1404.545455,2380.880731,1355.299416,2293.069212,6048.872812,1.187871,2.241172,1.812055,345.539619,3.926399,3.400547e+07,-1.181989e+08,2.912064e+04,1.0,519.688406,1.0,1.0,1.0,261.833478,33762.575230,2525.456961,1.478580,7.0,1.008753,6.010067,1.110244,310.204915,311.694737,1968.539761,1.440798,1.801032e+05,4.576379e+05,2015.0,2.782879e+05,5983.070888,13.401690,5.849917,2016.0
std,2.972108,2.721397,437.434198,1.004133,1.156114,0.0,1.900443,0.976137,0.0,652.039469,928.136339,909.947071,110.108211,1068.859229,673.376506,1341.830257,20.667459,0.484253,0.963106,0.608865,267.038335,3.683889,2.649792e+05,3.606321e+05,1.217909e+05,0.0,155.116033,0.0,0.0,0.0,5.183186,46683.848298,805.657943,2.819802,0.0,0.100884,0.437970,0.797389,216.738757,346.354850,23.763165,0.544482,2.090769e+05,5.548532e+05,0.0,4.005040e+05,6838.506814,2.720397,2.812363,0.0
min,1.000000,2.000000,100.000000,0.000000,0.000000,4.0,1.000000,1.000000,66.0,44.000000,2.000000,2.000000,1056.000000,560.000000,44.000000,257.000000,6037.000000,1.000000,1.000000,0.000000,0.000000,1.000000,3.333930e+07,-1.194479e+08,1.670000e+02,1.0,28.000000,1.0,1.0,1.0,31.000000,3491.000000,1286.000000,0.000000,7.0,1.000000,4.000000,1.000000,25.000000,18.000000,1885.000000,1.000000,1.000000e+02,2.200000e+01,2015.0,2.200000e+01,49.080000,6.000000,1.000000,2016.0
25%,1.000000,7.000000,407.500000,2.000000,2.000000,4.0,4.000000,2.000000,66.0,938.000000,1184.000000,1172.000000,1392.000000,1648.000000,938.000000,1109.000000,6037.000000,1.000000,2.000000,2.000000,0.000000,2.000000,3.381166e+07,-1.184117e+08,5.704000e+03,1.0,420.000000,1.0,1.0,1.0,261.000000,12447.000000,1286.000000,0.000000,7.0,1.000000,6.000000,1.000000,180.000000,100.000000,1953.000000,1.000000,8.127175e+04,1.990560e+05,2015.0,8.228500e+04,2873.260000,13.000000,4.000000,2016.0
50%,1.000000,7.000000,616.000000,2.000000,3.000000,4.0,7.000000,2.000000,66.0,1244.000000,1540.000000,1518.000000,1440.000000,2104.000000,1248.000000,1986.000000,6037.000000,1.000000,2.000000,2.000000,433.000000,2.000000,3.402153e+07,-1.181734e+08,7.200000e+03,1.0,500.000000,1.0,1.0,1.0,261.000000,25218.000000,3101.000000,0.000000,7.0,1.000000,6.000000,1.000000,260.000000,159.000000,1970.000000,1.000000,1.320570e+05,3.429310e+05,2015.0,1.930000e+05,4543.100000,14.000000,6.000000,2016.0
75%,1.000000,7.000000,872.000000,3.000000,4.000000,4.0,7.000000,3.000000,66.0,1614.000000,2095.000000,2056.000000,1440.000000,2863.000000,1617.000000,3405.500000,6059.000000,1.000000,3.000000,2.000000,484.000000,7.000000,3.417278e+07,-1.179216e+08,1.168175e+04,1.0,600.000000,1.0,1.0,1.0,266.000000,45457.000000,3101.000000,0.000000,7.0,1.000000,6.000000,1.000000,384.000000,361.000000,1987.000000,2.000000,2.105380e+05,5.405890e+05,2015.0,3.453840e+05,6900.165000,15.000000,8.000000,2016.0
max,13.000000,21.000000,1555.000000,20.000000,16.000000,4.0,12.000000,20.000000,66.0,7625.000000,22741.000000,20013.000000,1584.000000,22741.000000,8352.000000,7224.000000,6111.000000,5.000000,20.000000,24.000000,7339.000000,24.000000,3.481601e+07,-1.175549e+08,6.971010e+06,1.0,1750.000000,1.0,1.0,1.0,275.000000,396556.000000,3101.000000,18.000000,7.0,4.000000,13.000000,143.000000,2678.000000,1366.000000,2015.000000,4.000000,9.948100e+06,2.775000e+07,2015.0,2.450000e+07,321936.090000,99.000000,12.000000,2016.0

As we can see above in the minimum row, there are no records with negative values. Hence lets impute the missing data with -1

In [43]:
class DataProcessor:
    
    def __init__(self, cols_to_remove=None, datecol=None):
        self.cols_to_remove = cols_to_remove
        self.datecol = datecol
    
    
    def fit(self, X, y=None):
        """fit the process on the training data"""
        
        return self
        
    def transform(self, X, y=None):
        """transform the process on the train/test data """
                
        X_new = X.drop(columns=self.cols_to_remove, axis=1)
        
        if self.datecol:
            X_new[self.datecol + "_month"] = pd.to_datetime(X_new[self.datecol]).dt.month
            X_new[self.datecol + "_year"] = pd.to_datetime(X_new[self.datecol]).dt.year
            X_new = X_new.drop(columns=self.datecol, axis=1)
            
        X_new = X_new.fillna(-1)
        
        return X_new
        
        
    def fit_transform(self, X, y=None):
        """fit and transform"""
        
        return self.fit(X).transform(X)

In [44]:
dp = DataProcessor(cols_to_remove=["parcelid", "propertyzoningdesc", "rawcensustractandblock", "regionidneighborhood", "regionidzip", "censustractandblock"], 
                  datecol="transactiondate")
train_X_new = dp.transform(train_X)

In [45]:
train_X_new.info()  # no null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90150 entries, 0 to 12731
Data columns (total 54 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   airconditioningtypeid         90150 non-null  float64
 1   architecturalstyletypeid      90150 non-null  float64
 2   basementsqft                  90150 non-null  float64
 3   bathroomcnt                   90150 non-null  float64
 4   bedroomcnt                    90150 non-null  float64
 5   buildingclasstypeid           90150 non-null  float64
 6   buildingqualitytypeid         90150 non-null  float64
 7   calculatedbathnbr             90150 non-null  float64
 8   decktypeid                    90150 non-null  float64
 9   finishedfloor1squarefeet      90150 non-null  float64
 10  calculatedfinishedsquarefeet  90150 non-null  float64
 11  finishedsquarefeet12          90150 non-null  float64
 12  finishedsquarefeet13          90150 non-null  float64
 13  finishedsquarefeet15          90150 non-null  float64
 14  finishedsquarefeet50          90150 non-null  float64
 15  finishedsquarefeet6           90150 non-null  float64
 16  fips                          90150 non-null  float64
 17  fireplacecnt                  90150 non-null  float64
 18  fullbathcnt                   90150 non-null  float64
 19  garagecarcnt                  90150 non-null  float64
 20  garagetotalsqft               90150 non-null  float64
 21  hashottuborspa                90150 non-null  object
 22  heatingorsystemtypeid         90150 non-null  float64
 23  latitude                      90150 non-null  float64
 24  longitude                     90150 non-null  float64
 25  lotsizesquarefeet             90150 non-null  float64
 26  poolcnt                       90150 non-null  float64
 27  poolsizesum                   90150 non-null  float64
 28  pooltypeid10                  90150 non-null  float64
 29  pooltypeid2                   90150 non-null  float64
 30  pooltypeid7                   90150 non-null  float64
 31  propertycountylandusecode     90150 non-null  object
 32  propertylandusetypeid         90150 non-null  float64
 33  regionidcity                  90150 non-null  float64
 34  regionidcounty                90150 non-null  float64
 35  roomcnt                       90150 non-null  float64
 36  storytypeid                   90150 non-null  float64
 37  threequarterbathnbr           90150 non-null  float64
 38  typeconstructiontypeid        90150 non-null  float64
 39  unitcnt                       90150 non-null  float64
 40  yardbuildingsqft17            90150 non-null  float64
 41  yardbuildingsqft26            90150 non-null  float64
 42  yearbuilt                     90150 non-null  float64
 43  numberofstories               90150 non-null  float64
 44  fireplaceflag                 90150 non-null  object
 45  structuretaxvaluedollarcnt    90150 non-null  float64
 46  taxvaluedollarcnt             90150 non-null  float64
 47  assessmentyear                90150 non-null  float64
 48  landtaxvaluedollarcnt         90150 non-null  float64
 49  taxamount                     90150 non-null  float64
 50  taxdelinquencyflag            90150 non-null  object
 51  taxdelinquencyyear            90150 non-null  float64
 52  transactiondate_month         90150 non-null  int64
 53  transactiondate_year          90150 non-null  int64
dtypes: float64(48), int64(2), object(4)
memory usage: 37.8+ MB